In [1]:
 a = 1

In [2]:
a

1

In [4]:
type(a)

int

In [5]:
a = 1

while a<= 10 :
    print(a)
    a = a + 1

1
2
3
4
5
6
7
8
9
10

In [6]:
# sum up the number till some point

In [7]:
 n = int(input(" enter your limit"))
starting_point = 0
counter = 1


while counter <= n :
    starting_point = starting_point + counter
    counter = counter + 1
starting_point

 enter your limit 20

210

In [10]:
number = int(input("enter your number"))
factoriol = 1
while number > 0 :
    factoriol = factoriol*number
    number = number-1
factoriol

enter your number 3

6

In [1]:
# finonacci series

In [2]:
number = int(input("enter the number of element you are looking for "))
a , b = 0 , 1
counter = 0
while counter < number :
    print(a)
    c = a + b 
    a = b 
    b = c
    counter =counter + 1

enter the number of element you are looking for  10

0
1
1
2
3
5
8
13
21
34

In [4]:
a , b = 0 , 1
for i in range(10) :
    print(a)
    c = a + b 
    a = b
    b = c

0
1
1
2
3
5
8
13
21
34

In [6]:
s = "sidharth"

In [7]:
s[::-1]

'htrahdis'

In [9]:
reverse = ""
lenght = len(word)
while lenght > 0 :
    reverse = reverse + word[lenght-1]
    lenght = lenght-1
print(reverse)

htahdis

In [10]:
# print tables of numbers

In [1]:
n = int(input("enter your number"))
i = 1
while i < 10 :
    result = n * i
    print(n , "*", i , "=",result)
    i = i+1

enter your number 2

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [2]:
n = 5
i = 1
while i < n :
    print(i)
    i = i + 1
else :
    print("this will be executed once your while will complete it succesfully")

1
2
3
4
this will be executed once your while will complete it succesfully

In [3]:
n = 5
i = 1
while i < n :
    print(i)
    if i == 3 :
        break
    i = i + 1
else :
    print("this will be executed once your while will complete it succesfully")

1
2
3